@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?38877820');
  src: url('../font/fontello.eot?38877820#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?38877820') format('woff'),
       url('../font/fontello.ttf?38877820') format('truetype'),
       url('../font/fontello.svg?38877820#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?38877820#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-unlink:before { content: '\e802'; } /* '' */
.icon-paper-plane:before { content: '\e803'; } /* '' */
.icon-paper-plane-empty:before { content: '\e804'; } /* '' */
.icon-align-justify:before { content: '\e805'; } /* '' */
.icon-paw:before { content: '\e806'; } /* '' */
.icon-angle-double-down:before { content: '\e807'; } /* '' */
.icon-angle-double-up:before { content: '\e808'; } /* '' */
.icon-angle-double-right:before { content: '\e809'; } /* '' */
.icon-angle-double-left:before { content: '\e80a'; } /* '' */
.icon-cog-alt:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-quote-left:before { content: '\e80e'; } /* '' */
.icon-quote-right:before { content: '\e80f'; } /* '' */
.icon-behance-1:before { content: '\e810'; } /* '' */
.icon-spin6:before { content: '\e811'; } /* '' */
.icon-vkontakte:before { content: '\e812'; } /* '' */
.icon-spin4:before { content: '\e813'; } /* '' */
.icon-compass:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-feather:before { content: '\e816'; } /* '' */
.icon-attach:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-vimeo-1:before { content: '\e81a'; } /* '' */
.icon-youtube:before { content: '\e81b'; } /* '' */
.icon-twitter-2:before { content: '\e81c'; } /* '' */
.icon-skype-1:before { content: '\e81d'; } /* '' */
.icon-codepen:before { content: '\e81e'; } /* '' */
.icon-call:before { content: '\e81f'; } /* '' */
.icon-dropbox:before { content: '\e820'; } /* '' */
.icon-facebook-1:before { content: '\e821'; } /* '' */
.icon-github-circled-1:before { content: '\e822'; } /* '' */
.icon-gplus-2:before { content: '\e823'; } /* '' */
.icon-wordpress:before { content: '\e824'; } /* '' */
.icon-align-justify-1:before { content: '\e825'; } /* '' */
.icon-wikipedia:before { content: '\e826'; } /* '' */
.icon-mute:before { content: '\e827'; } /* '' */
.icon-sound:before { content: '\e828'; } /* '' */
.icon-rocket:before { content: '\e829'; } /* '' */
.icon-link:before { content: '\e82a'; } /* '' */