
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-unlink:before { content: '\e802'; } /* '' */
.icon-paper-plane:before { content: '\e803'; } /* '' */
.icon-paper-plane-empty:before { content: '\e804'; } /* '' */
.icon-align-justify:before { content: '\e805'; } /* '' */
.icon-paw:before { content: '\e806'; } /* '' */
.icon-angle-double-down:before { content: '\e807'; } /* '' */
.icon-angle-double-up:before { content: '\e808'; } /* '' */
.icon-angle-double-right:before { content: '\e809'; } /* '' */
.icon-angle-double-left:before { content: '\e80a'; } /* '' */
.icon-cog-alt:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-quote-left:before { content: '\e80e'; } /* '' */
.icon-quote-right:before { content: '\e80f'; } /* '' */
.icon-behance-1:before { content: '\e810'; } /* '' */
.icon-spin6:before { content: '\e811'; } /* '' */
.icon-vkontakte:before { content: '\e812'; } /* '' */
.icon-spin4:before { content: '\e813'; } /* '' */
.icon-compass:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-feather:before { content: '\e816'; } /* '' */
.icon-attach:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-vimeo-1:before { content: '\e81a'; } /* '' */
.icon-youtube:before { content: '\e81b'; } /* '' */
.icon-twitter-2:before { content: '\e81c'; } /* '' */
.icon-skype-1:before { content: '\e81d'; } /* '' */
.icon-codepen:before { content: '\e81e'; } /* '' */
.icon-call:before { content: '\e81f'; } /* '' */
.icon-dropbox:before { content: '\e820'; } /* '' */
.icon-facebook-1:before { content: '\e821'; } /* '' */
.icon-github-circled-1:before { content: '\e822'; } /* '' */
.icon-gplus-2:before { content: '\e823'; } /* '' */
.icon-wordpress:before { content: '\e824'; } /* '' */
.icon-align-justify-1:before { content: '\e825'; } /* '' */
.icon-wikipedia:before { content: '\e826'; } /* '' */
.icon-mute:before { content: '\e827'; } /* '' */
.icon-sound:before { content: '\e828'; } /* '' */
.icon-rocket:before { content: '\e829'; } /* '' */
.icon-link:before { content: '\e82a'; } /* '' */