/*
    ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
    ████████████████████                                                               ████████████████████
    ████████████████████    ████████   ██████████   █     █    ██         ███████      ████████████████████
    ████████████████████    ███            ██        █   █     ██                      ████████████████████
    ████████████████████      █████        ██         █ █      ██         ████         ████████████████████
    ████████████████████         ███       ██          █       ██                      ████████████████████
    ████████████████████    ████████       ██         █        ██████     ███████      ████████████████████
    ████████████████████                                                               ████████████████████
    ███████████████████████████████████████████████████████████████████████████████████████████████████████
*/

/*1.618*/

/*COLOR 

$white: #FFFFFF;
$black: #000000;
$orange: #F72527;
$blue-1: #00CCFF; $blue-2: #17a7eb;
$yellow: #FFFF33; 
$grey-1: #333333; $grey-2: #777777; $grey-3: #A7A7A7;
$green: #5DE827;

FONT

"Airborne"
'Lato'
'Montserrat'
'Marck Script'
  
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████ HTML5 RESET ██████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/

html, body, div, article, aside, footer, header, section, 
table, tbody, tfoot, thead, tr, th, td, caption,
menu, nav, dl, dt, dd, ol, ul, li,
span, p, a, hgroup, h1, h2, h3, h4, h5, h6, strong, i, s, b, tt, em, u, pre, strike,
form, label, fieldset, sub, sup, big, small, blockquote, acronym, abbr, mark, q, dfn,
details, summary, address, ins, output, kbd, var, cite, code,  del, samp, ruby, center,
figure, figcaption, legend, img, audio, video, canvas, iframe, object, time, embed, applet {
    margin: 0;
    padding: 0; /*!WP*/
    border: 0; 
    outline: 0;   
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

ol, ul { list-style: none; }
li { display: list-item; text-align: -webkit-match-parent; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table { border-collapse: collapse; border-spacing: 0; }

img {   
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;

    -ms-interpolation-mode: bicubic;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus, a:hover, a:active { outline: none; }
a:link { -webkit-tap-highlight-color: #F72527; }

/*The hyperlink pseudo-class. The :any-link pseudo-class represents an element that acts as the source anchor of a hyperlink.*/

/*a:-webkit-any-link { color: -webkit-link; text-decoration: underline; cursor: auto; }
  a:-moz-any-link { color: -moz-link; text-decoration: underline; cursor: auto; } */ 

/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████ BASE ████████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/

html, body { 
    margin: 0; padding: 0; width: 100%; height: 100%;

    -webkit-text-size-adjust: none; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased; 
}

body {
    line-height: 1;
    background: #FFF;
    font: 1em 'Lato', Arial, Helvetica, sans-serif; /* font-size 1em = 10px = 62.5%*/
    font-weight: 400;
}

::-moz-selection { background: #F72527; color: #FFF; }
     ::selection { background: #F72527; color: #FFF; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

/* ------------------------------------------------ ClearFix */
.clr:before,
.clr:after {
    display: table;
    content: "";
    line-height: 0;
}

.clr, .wrap { zoom: 1; }

.clr:after {
    clear: both;
}

.wrap:before,
.wrap:after {
    display: table;
    content: "";
    line-height: 0;
}

.wrap:after {
    clear: both;
}
/* ---------------------------------------------------- WRAp */
.wrap {
    position: relative;
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
    .full {
        width: 100%;
        min-width: 100%;
        height: 100%;
        text-align: center;
        border: none;
    }
/* ----------------------------------------------------- bit */
[class*='bit-'] {
    float: left;
    position: relative;
    min-height: 1px;
    display: block; 
}

[class*='bit-']:before{
    display: table;
    content: "";
    line-height: 0;
}

[class*='bit-']:after {
    display: table;
    content: "";
    line-height: 0;
}

[class*='bit-']:after {
    clear: both;
}
/* ----------------------------------------------------- grid */
 .bit-1 { width: 100%;           *width: 98%;  } 
 .bit-2 { width: 50%;            *width: 48%;  } 
 .bit-3 { width: 33.3333333333%; *width: 31%;  } 
 .bit-4 { width: 25%;            *width: 23%;  } 
 .bit-5 { width: 20%;            *width: 18%;  }
 .bit-6 { width: 16.6666666667%; *width: 14%;  } 
 .bit-7 { width: 14.2857142857%; *width: 12%;  } 
 .bit-8 { width: 12.5%;          *width: 10.5%;} 
 .bit-9 { width: 11.1111111111%; *width: 9%;   }
.bit-10 { width: 10%;            *width: 8%;   } 
.bit-11 { width: 9.09090909091%; *width: 7%;   }
.bit-12 { width: 8.33%;          *width: 6%;   } 
.bit-13 { width: 66.666666666666%; *width: 64%;} 
.bit-14 { width: 75%; *width: 73%;} 
/* ----------------------------------------------------------- */
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████ MAGIC ███████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
/* ************************ RIGHT ***************************** */
@-webkit-keyframes fadeInRight {
      0% { opacity: 0; -webkit-transform: translateX(-50px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
   @-moz-keyframes fadeInRight {
         0% { opacity: 0; -moz-transform: translateX(-50px); }
       100% { opacity: 1; -moz-transform: translateX(0); }
   }
     @-o-keyframes fadeInRight {
           0% { opacity: 0; -o-transform: translateX(-50px); }
         100% { opacity: 1; -o-transform: translateX(0); }
     }
       @keyframes fadeInRight { 
             0% { opacity: 0; transform: translateX(-50px); }
           100% { opacity: 1; transform: translateX(0); }
       }
/* ************************ LEFT ***************************** */
@-webkit-keyframes fadeInLeft {
      0% { opacity: 0; -webkit-transform: translateX(50px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
   @-moz-keyframes fadeInLeft {
         0% { opacity: 0; -moz-transform: translateX(50px); }
       100% { opacity: 1; -moz-transform: translateX(0); }
   }
     @-o-keyframes fadeInLeft {
           0% { opacity: 0; -o-transform: translateX(50px); }
         100% { opacity: 1; -o-transform: translateX(0); }
     }
        @keyframes fadeInLeft { 
              0% { opacity: 0; transform: translateX(50px); }
            100% { opacity: 1; transform: translateX(0); }
        }
/* ************************ DOWN ***************************** */
@-webkit-keyframes fadeInDown {
      0% { opacity: 0; -webkit-transform: translateY(-20px); }        
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
   @-moz-keyframes fadeInDown {
         0% { opacity: 0; -moz-transform: translateY(-20px); }        
       100% { opacity: 1; -moz-transform: translateY(0); }
   }
    @-ms-keyframes fadeInDown {
          0% { opacity: 0; -ms-transform: translateY(-20px); }        
        100% { opacity: 1; -ms-transform: translateY(0); }
    }
     @-o-keyframes fadeInDown {
           0% { opacity: 0; -o-transform: translateY(-20px); }        
         100% { opacity: 1; -o-transform: translateY(0); }
     }
        @keyframes fadeInDown { 
              0% { opacity: 0; transform: translateY(-20px); }        
            100% { opacity: 1; transform: translateY(0); }
        }
/* ************************ TOP ***************************** */
@-webkit-keyframes fadeInDown {
      0% { opacity: 0; -webkit-transform: translateY(20px); }        
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
   @-moz-keyframes fadeInDown {
         0% { opacity: 0; -moz-transform: translateY(20px); }        
       100% { opacity: 1; -moz-transform: translateY(0); }
   }
    @-ms-keyframes fadeInDown {
          0% { opacity: 0; -ms-transform: translateY(20px); }        
        100% { opacity: 1; -ms-transform: translateY(0); }
    }
     @-o-keyframes fadeInDown {
           0% { opacity: 0; -o-transform: translateY(20px); }        
         100% { opacity: 1; -o-transform: translateY(0); }
     }
        @keyframes fadeInDown { 
              0% { opacity: 0; transform: translateY(20px); }        
            100% { opacity: 1; transform: translateY(0); }
        }
/* ************************ ROTATE ***************************** */
@-webkit-keyframes rotate {   100% { -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }  }
   @-moz-keyframes rotate {   100% {    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }  }
    @-ms-keyframes rotate {   100% {     -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }  }
     @-o-keyframes rotate {   100% {      -o-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }  }
        @keyframes rotate {   100% {         transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }  }
/* ************************ ROTATE ***************************** */
@-webkit-keyframes rotateY {   100% { -webkit-transform: rotateZ(360deg); }  }
   @-moz-keyframes rotateY {   100% {    -moz-transform: rotateZ(360deg); }  }
    @-ms-keyframes rotateY {   100% {     -ms-transform: rotateZ(360deg); }  }
     @-o-keyframes rotateY {   100% {      -o-transform: rotateZ(360deg); }  }
        @keyframes rotateY {   100% {         transform: rotateZ(360deg); }  }
/* ************************ SVG PATH Work page***************************** */
    @-webkit-keyframes dash {
        from { stroke-dashoffset: 1000; stroke-dasharray: 1000; }
        to { stroke-dashoffset: 0; opacity: 0; }
    }
       @-moz-keyframes dash {  
           from { stroke-dashoffset: 1000; stroke-dasharray: 1000; }
           to { stroke-dashoffset: 0; opacity: 0; }
       }
        @-ms-keyframes dash {  
             from { stroke-dashoffset: 1000; stroke-dasharray: 1000; }
             to { stroke-dashoffset: 0; opacity: 0; }
        }
         @-o-keyframes dash {  
             from { stroke-dashoffset: 1000; stroke-dasharray: 1000; }
             to { stroke-dashoffset: 0; opacity: 0; }
         }
            @keyframes dash {  
                from { stroke-dashoffset: 1000; stroke-dasharray: 1000; }
                to { stroke-dashoffset: 0; opacity: 0; }
            }
/* ************************ IMG VISIBL Work page ***************************** */
    @-webkit-keyframes img_visibl { from { opacity: 0; } to { opacity: 1; } }
       @-moz-keyframes img_visibl { from { opacity: 0; } to { opacity: 1; } }
        @-ms-keyframes img_visibl { from { opacity: 0; } to { opacity: 1; } }
         @-o-keyframes img_visibl { from { opacity: 0; } to { opacity: 1; } }
            @keyframes img_visibl { from { opacity: 0; } to { opacity: 1; } }

  
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████ MAIN ████████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
body { padding-top: 70px; }
    #home { overflow: hidden; } /* for animation*/

h1, h2 { font: 70px 'Montserrat'; line-height: 70px; }
h3 { font: 52px "Montserrat"; line-height: 52px; text-transform: uppercase; }
h5 { font: 34px "Montserrat"; line-height: 43px; text-transform: uppercase; 
     -webkit-user-select: none; 
        -moz-user-select: none; 
         -ms-user-select: none; 
          -o-user-select: none; 
             user-select: none;
    }

p { padding: 0px 0px 20px 0; font-size: 27px; line-height: 34px; color: #A7A7A7; font-weight: 300; }
span { font-size: 27px; line-height: 27px; font-weight: 300; }
blockquote { font: 34px 'Marck Script'; }
strong { font-weight: 400; }

a { 
    -webkit-transition: all 0.7s ease-in-out; 
       -moz-transition: all 0.7s ease-in-out; 
        -ms-transition: all 0.7s ease-in-out; 
         -o-transition: all 0.7s ease-in-out; 
            transition: all 0.7s ease-in-out; 
}

.wall-header { 
    margin: 55px 0 55px 0; 

    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
         -o-user-select: none; 
            user-select: none; 
}
    .wall-header hr { width: 65%; height: 1px; border: none; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████████ HEADER ███████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
header {
    position: fixed;
    z-index: 1000000;
    top: 0%;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    border-bottom: 2px solid #F72527;
}
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████ LOGO ████████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
.arrow.mob, .logo.mob  { display: none; } /*mobile style*/

header .logo { float: left; }
    header .logo img, header .logo.mob img { padding: 0 7px; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████ NAVIGATION ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
audio { display: none !important; }
#menu .selected a { color: #F72527; background: transparent; }

#menu { float: right; }
    #menu ul { overflow: hidden; height: inherit; text-align: center; }
        #menu ul li { 
            display: block; 
            float: left; 
            padding: 0px 17px; 
            margin-left: -4px; 

            -webkit-transition: all 0.5s ease-in-out; 
               -moz-transition: all 0.5s ease-in-out; 
                -ms-transition: all 0.5s ease-in-out; 
                 -o-transition: all 0.5s ease-in-out; 
                    transition: all 0.5s ease-in-out; 
        }
            #menu ul li a { 
                display: block; 
                /*width: 100%;*/

                line-height: 68px; 
                font-size: 23px; 
                text-transform: lowercase; 
                color: #333333; 
            }

#menu ul li:hover { background: #F7F7F7; }
    #menu ul li:hover a { color: #F72527; }

/* ----------------------------------------------------- HEADER #WORK #PAGE  */
#content-work #menu .selected a { color: #17a7eb; background: transparent; }

#content-work header { border-bottom: 2px solid #17a7eb; }

#content-work #menu ul li:hover a { color: #17a7eb; }

#content-work .current { color: #17a7eb; background: transparent; }

/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████ INDEX.HTML ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████    PAGE    ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/

/* ------------------------------------------- next section --------------------------------------------- */
.next {
    position: relative; z-index: 3000; display: block;
    width: 0; height: 0; margin: 0 auto;

    border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid red;
    cursor: pointer;

    -webkit-transition: all .5s ease-in;
       -moz-transition: all .5s ease-in;
        -ms-transition: all .5s ease-in;
         -o-transition: all .5s ease-in;
            transition: all .5s ease-in;

    -webkit-transform: scale(1, 1); 
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
         -o-transform: scale(1, 1);
            transform: scale(1, 1); 
}
.next:hover {     
    -webkit-transform: scale(1.7, 1.7); 
       -moz-transform: scale(1.7, 1.7);
        -ms-transform: scale(1.7, 1.7);
         -o-transform: scale(1.7, 1.7);
            transform: scale(1.7, 1.7);
}
.up:hover {
    border-left: 15px solid transparent !important; 
    border-right: 15px solid transparent !important; 
    border-bottom: 15px solid #FFFFFF !important; 
    border-top: none;

}
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████  INTRO #IE7  ██████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
.wrap { *overflow: hidden; }
#home { *background: #27cbf5; }
.content, header, footer, .next { *display: none !important; }
#intro-ie { *display: block !important; }

#intro-ie { 
    display: none;
    overflow: hidden;
    width: 960px;
    margin-top: -70px;

    background-color: #FFFFFF !important; 
}
    #intro-ie .main-title .to.say{     
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font: 23px 'Lato' !important;
        line-height: 34px;
        font-weight: 300 !important;
    }
        #intro-ie .main-title strong { font-weight: 700 !important;  }

.ie-button { 
    display: block; 
    width: 330px; 
    height: 40px;     
    margin: 23px auto 34px;
    padding-top: 17px;
    padding-left: 70px;
    padding-bottom: 23px;

    text-align: left;
    color: #FFFFFF;
    font: 23px "Montserrat"; 

    background: #27cbf5;   
}
    .ie-button .ie { 
        display: block;
        float:left; 
        height: 47px; 
        margin-left: -70px; 
        padding: 0 7px; width: 47px;
        border-right: 1px solid #FFFFFF;      
        
        background: url(../images/internet-explorer-icon-48.png) 50% 50% no-repeat; 
    }
    .ie-button span {  
      display: block; 
      overflow: hidden; 
      float: left; 
      width: 240px; 
      height: 70px;

      font-weight: bold;
    }
        .ie-button strong  { font-weight: 300 !important; font-size: 17px; } 
    .ie-button .icon-angle-double-right { 
        display: block; 
        float: right;
        width: 20px; 
        height: 70px; 
        margin-right: 17px; 
        padding-top: 7px;

        font-size: 34px; 
    }
    .ie-button:hover { cursor: pointer; color: #FFFF33; }

.browser { overflow: hidden; width: 500px; height: 120px; margin: 0 auto;}
    .browser li { display: block; float: left; margin-right: 5px; margin-left: 30px !important; }
        .browser  li a { display: block; width: 77px; height: 77px; float: left; }

        .ff { background: url(../images/ie-ff.png); background-repeat: no-repeat; } 
        .ch { background: url(../images/ie-ch.png); background-repeat: no-repeat; } 
         .o { background: url(../images/ie-o.png);  background-repeat: no-repeat; } 
         .s { background: url(../images/ie-s.png);  background-repeat: no-repeat; }

#slideShow { background: #FFFFFF\0/;}
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████  INTRO  █████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#intro {
    position: relative;
    max-height: 700px;
    width: 100%;
    height: 100%;

    padding: 0px 0 110px 0;

/*    background: rgba(0, 0, 0, 0.5);
    background: url(../images/pattern.png);*/

    background: url(../images/bg-intro.png);
    background-repeat: no-repeat;
    background-position: 0% 70%;
     -webkit-background-size: cover;
        -moz-background-size: cover;
         -ms-background-size: cover;
          -o-background-size: cover;
             background-size: cover;  
}

/* -------------------------------------------- video bg  ---------------------------------------------*/
video#bgvid {
  position: fixed; right: 0; top: 68px;

  min-width: 100%; min-height: 100%;

  width: auto; height: auto; z-index: -100;

/*  background: url(../images/bg-intro.png);
  background-repeat: no-repeat;
  background-position: 0% 70%;
   -webkit-background-size: cover;
      -moz-background-size: cover;
       -ms-background-size: cover;
        -o-background-size: cover;
           background-size: cover; */
}
#mute-sound {
  display: none;

  position: absolute;
  bottom: 2.7%;
  left: 49.4%;
  color: #F72527;
  font-size: 17px;
  cursor: pointer;
}
/* -------------------------------------------- main title ---------------------------------------------*/
    .main-title { text-align: right; padding: 110px 0px 80px 0px; }

    #intro h1 { margin-bottom: 41px; opacity: 0; color: #FFFFFF; }
    #intro span { opacity: 0; font: 70px 'Montserrat'; line-height: 70px; color: #F72527; }
    #intro p { opacity: 0; font-size: 43px; line-height: 52px; color: #FFFFFF; }

/* ---------------------------------------- animation for main-title ---------------------------------- */
        #intro:hover p, #intro:hover h1, #intro:hover span {
            -webkit-animation: fadeInDown .5s .2s linear;        
               -moz-animation: fadeInDown .5s .2s linear;
                -ms-animation: fadeInDown .5s .2s linear;
                 -o-animation: fadeInDown .5s .2s linear;
                    animation: fadeInDown .5s .2s linear;
        
             -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;        
                 -ms-animation-fill-mode: forwards;
                  -o-animation-fill-mode: forwards;
                     animation-fill-mode: forwards;
        }   
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████  ABOUT  █████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#about { padding-top: 15px; margin-top: -15px; background-color: #FFFFFF; }
    #about .wall-header h3 { color: #777777; }
    #about .wall-header hr { background: #777777; }

    #about p { text-align: justify; margin-bottom: 34px; padding: 0 20px; }
    /*.p-b { padding-bottom: 20px; }*/
    #about blockquote p { text-align: right !important; }
        #about blockquote i { font-size: 34px; line-height: 34px; }
        #about blockquote span { font: 27px 'Lato'; color: #A7A7A7; }    
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████  EDUCATION  ███████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#education .mob-line, .top-circle-mob { display: none; }

.top-circle-mob {    
    width: 170px; height: 170px; margin: 0 auto; 
    background: url(../images/clock-ie-mob.png) no-repeat; 
}

#education { padding: 15px 0 17px 0; margin-top: -15px; background-color: #00CCFF; }
    #education .wall-header h3 { color: #FFFFFF; }
    #education .wall-header hr { background: #FFFFFF; }

    #education .bit-2.row-l { margin-left: 2.2%; }
    #education .bit-2.row-r { margin-left: 47.8%; }

        #education .left { 
            height: 70px;
            text-align: right; 
            padding-right: 110px;  
            background: url(../images/cirk-l.png) no-repeat 100% 0%;
        }
        #education .right {
            height: 70px; 
            text-align: left; 
            padding-left: 110px; 
            background: url(../images/cirk-r.png) no-repeat 0% 0%; 
        }
            #education span { color: #FFFF33; }
            #education h5, #education p { color: #FFFFFF; margin-bottom: 7px; }
            #education h5 { 
                        -webkit-transition: all 0.5s ease-in-out; 
                           -moz-transition: all 0.5s ease-in-out; 
                            -ms-transition: all 0.5s ease-in-out; 
                             -o-transition: all 0.5s ease-in-out; 
                                transition: all 0.5s ease-in-out; 
                        }
                #education h5:hover { color: #777777; text-decoration: underline; cursor: pointer; }
[class$='│'] { width: 2px; margin: -10px auto; background: #FFFFFF; }
[class$='─'] { height: 2px; margin: 0 auto; background: #FFFFFF; }

/* ------------------------------------- Animation EDUCATION ---------------------------------- */
#education .left span, #education .left h5, #education .left p { position: relative; left: -55%; opacity: 0; }
    #education:hover .left span, #education:hover .left h5, #education:hover .left p { 
        left: 0; 
        opacity: 1; 

        -webkit-animation: fadeInRight .5s .5s linear;
           -moz-animation: fadeInRight .5s .5s linear;
             -o-animation: fadeInRight .5s .5s linear;
                animation: fadeInRight .5s .5s linear;

         -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
                 animation-fill-mode: forwards;
    }
#education .right span, #education .right h5, #education .right p { position: relative; right: -55%; opacity: 0; }
    #education:hover .right span, #education:hover .right h5, #education:hover .right p { 
        right: 0; 
        opacity: 1;

        -webkit-animation: fadeInLeft .7s .7s linear;
           -moz-animation: fadeInLeft .7s .7s linear;
             -o-animation: fadeInLeft .7s .7s linear;
                animation: fadeInLeft .7s .7s linear;

         -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
                 animation-fill-mode: forwards;
    }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ██████████████████████████████████████████████  SKILLS  ███████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#skills { 
    background: #FFFFFF; 
    padding-top: 55px; 
    margin-top: -15px; 
}
    #skills h5 { color: #27cbf5; padding: 34px 0; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ██████████████████████████████████████████████  LANGUAGE  █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#lang { 
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow: hidden;
    padding: 55px 0 30px 0;
    margin-top: -15px;

    background-color: #F5F5F5;
}
    .bg-lang { 
        position: relative; 
        z-index: 27; 
        width: 100%; 
        height: auto; 
        overflow: hidden;
        padding: 25px 0 45px 0;

        background: url(../images/bg-lang.png) no-repeat; 
        background-position: center;    
    }
        #lang h5 { color: #27cbf5; font-weight: bold; }
        #lang span { color: #777777; text-transform: lowercase; font-size: 34px; line-height: 43px; font-weight: 400; }

/* ------------------------------------------------ slash / -------------------------------------------*/
#lang .t { 
    display: flex;
    width: 1px;
    float: left;
    margin-left: -1%;

    font-size: 95px;
    line-height: 52px;
    color: #27cbf5;
    font-weight: 100;
}
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████████  CV & BREAF/404 ██████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#cv, #breaf { background: #FFFFFF; padding: 55px 0 55px 0; margin-top: -15px; }
    #cv h2, #cv i, #cv a, #breaf h2, #breaf i, #breaf a { text-transform: uppercase; color: #F5F5F5; }
        #cv i.icon-attach, #breaf i.icon-attach {
            padding-right: 34px;
            margin-right: 17px;
            border-right: 2px solid #FFF;

            font-size: 52px;    
            color: #FFF;
            line-height: 70px;    
        }
        #cv i.icon-attach, #breaf i.icon-attach { float: left; }
        #cv i.icon-angle-double-right, #breaf i.icon-angle-double-right { float: right; }
    #cv a, #breaf a {     
        width: 90%;
        height: 90px; 
        padding: 7px 17px; 
        display: block;
        overflow: hidden; 
        margin: 0 auto;
        border-radius: 15px; 
        background: #333333;

        text-align: left; 
        font: 52px 'Montserrat'; 
        line-height: 70px;     
    }
        #cv a:hover, #breaf a:hover { background: #27cbf5; color: #FFFFFF; }
        #breaf a:hover { background: #F72527; color: #FFFFFF; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████████████  SLIDER  █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#slideShow { 
    /*position: relative;*/
    max-height: 300px;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background: rgba(51,51,51,0.9);
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
    #slideShow blockquote { padding: 70px 0 10px 0 !important; font-size: 50px; line-height: 43px; color: #333333; text-align: center; }
        #slideShow blockquote span { font: 50px 'Lato'; color: #777777; font-weight: 300; }
        #slideShow blockquote i { color: #F72527; }

/* -------------------------------------------------------- -------------- Slider=bgstretcher Style css*/
.bgstretcher-area { text-align: left; }

.bgstretcher, .bgstretcher UL, .bgstretcher UL LI {
    position: absolute;
    top: 0;
    left: 0;
}
.bgstretcher UL, .bgstretcher UL LI {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.bgstretcher {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 1;
    -position: absolute; /*IE6 doesn't support fixed positioning*/
    top: 0;
    left: 0;
}
.bgstretcher-page {
    height: 100%;
    min-height: 550px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.72);
    color: #000;   
}
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████████████   WORK   █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#work {     
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
    z-index: 27;
    padding-top: 15px;
    margin-top: -15px;

    background-color: #F72527 !important; 
    background: url(../images/plane.png) no-repeat;
}
    #work h2 { color: #FFFFFF; text-transform: uppercase; }
    #work hr { 
        width: 25%; 
        height: 3px; 
        background: #FFFFFF;
        border: none;
        opacity: .2;

         -webkit-transition: all .7s ease-in;
           -moz-transition: all .7s ease-in;
            -ms-transition: all .7s ease-in;
             -o-transition: all .7s ease-in;
                transition: all .7s ease-in;
    }
    #work a { 
        display: block; 
        line-height: 110px; 
        margin: 55px auto 0px auto; 
        opacity: 0; 
        color: #FFFFFF; 
        text-transform: uppercase;  
        font: 70px 'Montserrat'; 

                -webkit-transition: all .7s ease-in;
                   -moz-transition: all .7s ease-in;
                    -ms-transition: all .7s ease-in;
                     -o-transition: all .7s ease-in;
                        transition: all .7s ease-in;
    }
        #work span { color: #FFFFFF; font: 70px 'Montserrat'; line-height: 70px; }
        #work .icon-link { font: 50px 'Lato'; font-weight: 300; }        

        #work:hover a { 
            text-decoration: none;  opacity: 1;
            margin-bottom: 110px;

            -webkit-transform: scale(1.2, 1.2);
               -moz-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
                 -o-transform: scale(1.2, 1.2);
                    transform: scale(1.2, 1.2); 
        }
        #work a:hover hr {  opacity: 1; width: 65%; }
        #work a:hover span { color: #FFFFFF; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████   CONTACT   █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#contact {  margin-top: -15px; padding: 15px 0; background-color: #F7F7F7; }
    #contact .bit-2, #contact .bit-1 { padding: 0 15px; }
        #contact .wall-header h3 { color: #777777; }
        #contact .wall-header hr { background: #777777; }

        .to.say, .to.say a { font-size: 50px; color: #A7A7A7; line-height: 70px; margin-bottom: 34px; }
            .to.say a {text-decoration: underline; }

        #contact a { font-size: 23px; color: #A7A7A7; }
            #contact a:hover { color: #F72527; }

        #contact a.social { 
            display: inline-block; 
            background: #F72527; 
            width: 70px; 
            height: 70px; 
            color: #FFFFFF; 
            margin: 0 55px 34px;
            border-radius: 50%; 
            border: 2px solid transparent; 

            -webkit-transition: all .7s ease-in;
               -moz-transition: all .7s ease-in;
                -ms-transition: all .7s ease-in;
                 -o-transition: all .7s ease-in;
                    transition: all .7s ease-in; 
        }
            #contact .social i { 
                color: #FFFFFF; 
                line-height: 68px;
                font-size: 34px;
            }
                #contact .social i.icon-vimeo-1:before { margin-left: 0 !important; }
            #contact .social:hover { 
                background: transparent; 
                border: 2px solid #F72527; 


            }
                #contact .social:hover i { color: #F72527;  }
        .location { font-size: 27px; }
#contact:hover .social {
    -webkit-animation: rotateY 1s ease-in-out;
       -moz-animation: rotateY 1s ease-in-out; 
        -ms-animation: rotateY 1s ease-in-out;
         -o-animation: rotateY 1s ease-in-out;
            animation: rotateY 1s ease-in-out;
}

form {
   /* text-align: right;*/
    /*width: 640px;*/
    margin: 0 auto;
    padding: 0 10%;

    *overflow: hidden;
}
    label, input, textarea { font: 27px 'Lato'; padding: 7px 17px;  cursor: pointer; color: #A7A7A7; }
    label { float: left; }    
    input, textarea { width: 100%; margin: 0 17px 34px 0; border-left: 2px solid #F72527; border-right: 2px solid #F72527; border-bottom: 2px solid #F72527; border-top: none; background: transparent; }
    textarea { resize: none; height: 110px; width: 100%; }
    [type="submit"] { width: 100%; border: 2px solid #F72527; margin-bottom: 34px; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -ms-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
        [type="submit"]:hover, [type="submit"]:focus { background: #F72527; color: #FFFFFF; }

        input:focus, textarea:focus { outline: 0 none; }
        input[type="text"]:focus, textarea:focus { border-left: 2px solid #333333; border-right: 2px solid #333333; border-bottom: 2px solid #333333; border-top: none; background: transparent; color: #333333; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████████   Goo MAP   █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#map { overflow: hidden; position: relative; max-height: 250px !important; height: 100%; }
#map iframe { z-index: 1; text-indent: -9999px; position: relative;}
#contact-on-map { position: absolute; z-index: 777; overflow: visible !important; top: 0; left: 0; width: 100%; height: 100%; padding: 55px 10px 0; background: url(../images/pattern.png); }
#contact-on-map p, #contact-on-map a { color: #FFFFFF; line-height: 55px; z-index: 777; }
  #contact-on-map span { font-weight: bold; }
  #contact-on-map a:hover { text-decoration: underline; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ██████████████████████████████████████████████   FOOTER   █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
footer { background: #333333; padding: 17px 0; }
    footer p, footer a { font-size: 17px; line-height: 27px; padding: 0; }
    footer a { color: #FFFFFF; }
        footer a:hover { color: #F72527; }

#content-work footer { background: #000000; }
    #content-work footer a:hover { color: #17a7eb; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████  WORK.HTML  ███████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████    PAGE    ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#content-work {
    background-color: #010101 !important;
    background: url(../images/my_work_bg_section.png) ;
    background-repeat: repeat-y; 
    background-position: center;
}
#quotes { 
    margin: 55px 0; 
    -webkit-transition: all 2s ease-in;
       -moz-transition: all 2s ease-in;
        -ms-transition: all 2s ease-in;
         -o-transition: all 2s ease-in;
            transition: all 2s ease-in;
}
    #content-work blockquote { font-size: 50px; color: #FFFFFF; }
        #content-work blockquote span { font: 50px 'Lato'; color: #FFFFFF; font-weight: 300; }
        #content-work blockquote i { color: #17a7eb; }

#content-work .main { color: #FFFFFF; }
    #content-work .main hr { background: #FFFFFF; }

#content-work .wall-header h5 { color: #17a7eb; margin-bottom: 17px; }
#content-work .wall-header p { color: #A7A7A7; }

    #my-work { padding-bottom: 55px; overflow: hidden; }
        #my-work [class*='bit-'] { padding: 0 27px; }            
                
            #my-work strong { font-weight: 300; }    

    #my-work article p { color: #A7A7A7; font-style: italic; margin-bottom: 34px; }

    #my-work .right { text-align: right; overflow: hidden; }
        #my-work .right a { float: right; }
                
    #my-work .left { text-align: left; overflow: hidden; }
        #my-work .left a { float: left; }

/*------------------------------------------------------------------------------------------------------*/
.plain-to-plain { padding: 55px 0; }
.plain-to-plain img { 
    margin: -110px 0; 
    -webkit-transition: all 2s ease-in;
       -moz-transition: all 2s ease-in;
        -ms-transition: all 2s ease-in;
         -o-transition: all 2s ease-in;
            transition: all 2s ease-in;

    -webkit-transform: scale(.5, .2); 
       -moz-transform: scale(.5, .2);
        -ms-transform: scale(.5, .2);
         -o-transform: scale(.5, .2);
            transform: scale(.5, .2);
}

.plain-to-plain:hover img {
    margin: 0; 
    -webkit-transform: scale(1, 1); 
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
         -o-transform: scale(1, 1);
            transform: scale(1, 1);
}
#quotes:hover {
    margin: 110px 0; 
    -webkit-transform: scale(1.1, 1.1); 
       -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
         -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
}

/*svg {    
    max-width: 1500px !important;
    max-height: 800px !important;
    width: 100%;
    height: 100%;  
}*/
#my-work .content {
    -webkit-transition: all 1.7s ease-in-out;
       -moz-transition: all 1.7s ease-in-out;
        -ms-transition: all 1.7s ease-in-out;
         -o-transition: all 1.7s ease-in-out;
            transition: all 1.7s ease-in-out;
}
#my-work .content:hover { margin: 55px 0; }

.svg-box-anim { position: relative; overflow: hidden; height: 100%; }
#emails .svg-box-anim, #pt .svg-box-anim { min-height: 650px; }
#slider .svg-box-anim, #widget .svg-box-anim { min-height: 750px; }
#my-work .illustration-1, #my-work .illustration-2 { 
    position: absolute; top: 0px; left: 0; 
    width: 100%; height: 100%;
}    
    #slider .illustration-2 img { width: 95%; }
    #emails .illustration-2 img { width: 85%; }
    #pt .illustration-2 img { width: 70%; }

        #my-work .share_more { 
            display: inline-block;
            margin: 25px;
            padding: 0;
            width: 70px;
            height: 70px;

            background: transparent !important;
            border: 1px solid #A7A7A7;            
            color: #A7A7A7;            
        }
            #my-work .share_more i { font: 34px 'Lato'; line-height: 70px; }
                #my-work .share_more:hover {
                    /*-webkit-transform: rotateY(360deg) ;
                       -moz-transform: rotateY(360deg) ;
                        -ms-transform: rotateY(360deg) ;
                         -o-transform: rotateY(360deg) ;
                            transform: rotateY(360deg) ;*/
                            background: #17a7eb; color: #17a7eb; border: 1px solid #17a7eb;
                }
#slider .path-1, #emails .path-2, #pt .path-3, #widget .path-4 { opacity: 0; 
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
}
    #slider:hover .path-1, #emails:hover .path-2, #pt:hover .path-3, #widget:hover .path-4 {
        opacity: 1;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;

        -webkit-animation: dash 2s linear alternate;
           -moz-animation: dash 2s linear alternate;
            -ms-animation: dash 2s linear alternate;
             -o-animation: dash 2s linear alternate;
                animation: dash 2s linear alternate;      

             -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;        
                 -ms-animation-fill-mode: forwards;
                  -o-animation-fill-mode: forwards;
                     animation-fill-mode: forwards;
        }

#slider .svg-img-1, #emails .svg-img-2, #pt .svg-img-3, #widget .svg-img-4 { opacity: 0; }
#slider:hover .svg-img-1, #emails:hover .svg-img-2, #pt:hover .svg-img-3, #widget:hover .svg-img-4 { 
        -webkit-animation: img_visibl linear alternate ; 
           -moz-animation: img_visibl linear alternate ;
            -ms-animation: img_visibl linear alternate ;
             -o-animation: img_visibl linear alternate ;
                animation: img_visibl linear alternate ;

        -webkit-animation-delay: 2s;
           -moz-animation-delay: 2s;
            -ms-animation-delay: 2s;
             -o-animation-delay: 2s;
                animation-delay: 2s;

        -webkit-animation-duration: 1s;
           -moz-animation-duration: 1s;
            -ms-animation-duration: 1s;
             -o-animation-duration: 1s;
                animation-duration: 1s;

     -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;        
         -ms-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
             animation-fill-mode: forwards;

    }
    
#lime_group img{
    display: block;
    margin:0 auto;
}

/*------------------------------------------------------------------------------------------------------*/
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ██████████████████████████████████████████████   SLIDER   █████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#slider .bit-14, #slider .bit-4, #emails .bit-14, #emails .bit-4, 
#pt .bit-13, #pt .bit-3, #widget .bit-13, #widget .bit-3 { opacity: 0; }
#slider:hover .bit-14, #emails:hover .bit-14, #pt:hover .bit-3, #widget:hover .bit-3,
#slider:hover .bit-4, #emails:hover .bit-4, #pt:hover .bit-13, #widget:hover .bit-13 { opacity: 1; } 
    #slider:hover .bit-14, #emails:hover .bit-14, #pt:hover .bit-3, #widget:hover .bit-3 {
        -webkit-animation: fadeInRight .7s .2s linear;
           -moz-animation: fadeInRight .7s .2s linear;
             -o-animation: fadeInRight .7s .2s linear;
                animation: fadeInRight .7s .2s linear;

         -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
                 animation-fill-mode: forwards;
    }
    #slider:hover .bit-4, #emails:hover .bit-4, #pt:hover .bit-13, #widget:hover .bit-13 {
        -webkit-animation: fadeInLeft .7s .2s linear;
           -moz-animation: fadeInLeft .7s .2s linear;
             -o-animation: fadeInLeft .7s .2s linear;
                animation: fadeInLeft .7s .2s linear;

         -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
                 animation-fill-mode: forwards;
    }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████   404.HTML  ███████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████    PAGE    ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Airborne";
    src:url("../font/airborne.eot?") format("eot"),
    url("../font/airborne.woff") format("woff"),
    url("../font/airborne.ttf") format("truetype"),
    url("../font/airborne.svg#Airborne") format("svg");
    font-weight:normal;
    font-style:normal;
}
#content-error-main {
    height: 100%;
}
#content-error {
    height: 100%;
    background-color: #070707 !important;
    background-image: url(../images/404-bg.png);
    background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;
}
    #main-error {
        position: relative;
        height: 100%;
        min-height: 500px;
        width: 100%;

        text-align: right; 
    }
        .msg-error {  padding-top: 10%; padding-right: 5%; position: relative; z-index: 41; }
            #main-error h2 { font: 172px "Airborne"; color: #17a7eb; }
            #main-error span { font: 72px "Airborne";  color: #333333; }

.solution { position: relative; z-index: 51; padding-top: 2%; margin-bottom: 55px; }
    .solution .to.say, .solution .to.say a { font-size: 34px; line-height: 34px; color: #A7A7A7; position: relative; z-index: 61; }
        #content-error:hover .solution .to.say a:hover { color: #17a7eb; }

#paper-plain {
    left: 0; top: 0; 

    -webkit-transition: all 15s 1s linear;
       -moz-transition: all 15s 1s linear;
        -ms-transition: all 15s 1s linear;
         -o-transition: all 15s 1s linear;
            transition: all 15s 1s linear;       
}
    #content-error:hover #paper-plain { left: -150px; top: 150px; }

[class*='pie-'] { position: absolute; }
    .pie-1 { top: -84px; left: 55px;   z-index: 31; }
    .pie-2 { top: 44px;  left: 29px;   z-index: 34; }
    .pie-3 { top: 115px; left: -135px; z-index: 33; }
    .pie-4 { top: 73px;  left: 124px;  z-index: 34; }
    .pie-5 { top: 78px;  left: 3px;    z-index: 35; }
    .pie-6 { top: 195px; left: -80px;  z-index: 36; }
    .pie-7 { top: 15px;  left: 170px;  z-index: 30; }
        #content-error:hover .pie-1 {
            -webkit-transition: all 10s 7s ease-in-out;
               -moz-transition: all 10s 7s ease-in-out;
                -ms-transition: all 10s 7s ease-in-out;
                 -o-transition: all 10s 7s ease-in-out;
                    transition: all 10s 7s ease-in-out;

              transform-style: preserve-3d; transform: translate(-90px, -185px) rotateY(750deg) perspective(70px) scale(1.4, 1.7);
              -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.4488887394336025, M12=-0.388228567653781, M21=0.388228567653781, M22=1.4488887394336025, SizingMethod='auto expand')"; 
        }
        #content-error:hover .pie-2 {
            -webkit-transition: all 12s 4s ease-in-out;
               -moz-transition: all 12s 4s ease-in-out;
                -ms-transition: all 12s 4s ease-in-out;
                 -o-transition: all 12s 4s ease-in-out;
                    transition: all 12s 4s ease-in-out;

              transform-style: preserve-3d; transform: translate(-385px, 75px) rotateX(430deg) perspective(527px) scale(1.7, 1.7);
              -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.4488887394336025, M12=-0.388228567653781, M21=0.388228567653781, M22=1.4488887394336025, SizingMethod='auto expand')"; 
        }
        #content-error:hover .pie-3 {
            -webkit-transition: all 10s 9s ease-in-out;
               -moz-transition: all 10s 9s ease-in-out;
                -ms-transition: all 10s 9s ease-in-out;
                 -o-transition: all 10s 9s ease-in-out;
                    transition: all 10s 9s ease-in-out;

              transform-style: preserve-3d; transform: translate(-380px, -340px) rotateY(150deg) scale(.7, .7);      
        }
        #content-error:hover .pie-4 {
            -webkit-transition: all 10s 5s ease-in-out;
               -moz-transition: all 10s 5s ease-in-out;
                -ms-transition: all 10s 5s ease-in-out;
                 -o-transition: all 10s 5s ease-in-out;
                    transition: all 10s 5s ease-in-out;

              transform-style: preserve-3d; transform: translate(250px, 70px) rotateX(27deg) rotateY(320deg) scale(1.6, 1.3);
              -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.4488887394336025, M12=-0.388228567653781, M21=0.388228567653781, M22=1.4488887394336025, SizingMethod='auto expand')";      
        }
        #content-error:hover .pie-5 {
            -webkit-transition: all 10s 5s ease-in-out;
               -moz-transition: all 10s 5s ease-in-out;
                -ms-transition: all 10s 5s ease-in-out;
                 -o-transition: all 10s 5s ease-in-out;
                    transition: all 10s 5s ease-in-out;

              transform-style: preserve-3d; transform: translate(10px, 110px) rotateX(770deg) rotateY(320deg) scale(1.2, 1.1);      
        }
        #content-error:hover .pie-6 {
            -webkit-transition: all 10s 7s ease-in-out;
               -moz-transition: all 10s 7s ease-in-out;
                -ms-transition: all 10s 7s ease-in-out;
                 -o-transition: all 10s 7s ease-in-out;
                    transition: all 10s 7s ease-in-out;

              transform-style: preserve-3d; transform: translate(120px, -180px) rotateX(370deg) rotateY(70deg) scale(1.1, 1.3);
               -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.4488887394336025, M12=-0.388228567653781, M21=0.388228567653781, M22=1.4488887394336025, SizingMethod='auto expand')";      
        }
        #content-error:hover .pie-7 {
            -webkit-transition: all 7s 10s ease-in-out;
               -moz-transition: all 7s 10s ease-in-out;
                -ms-transition: all 7s 10s ease-in-out;
                 -o-transition: all 7s 10s ease-in-out;
                    transition: all 7s 10s ease-in-out;

              transform-style: preserve-3d; transform: translate(140px, -130px) rotateX(765deg) rotateY(420deg) scale(1.8, 1.8);      
        }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████   SERVIS-STATUS.HTML  ████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   █████████████████████████████████████████    PAGE    ██████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#content-status { background: url(../images/zen.png) no-repeat; background-position: 100% 100%; }

#cube-box {
    min-height: 500px;
    height: 100%;
    margin: 0 auto;       
    
    -webkit-perspective-origin: center -135px;
       -moz-perspective-origin: center -135px;
        -ms-perspective-origin: center -135px;
         -o-perspective-origin: center -135px;        
            perspective-origin: center -135px;

    -webkit-perspective: 500px;
       -moz-perspective: 500px;
        -ms-perspective: 500px;
         -o-perspective: 500px;
            perspective: 500px;
  }
  .box {  
    width: 270px;
    height: 270px;
    margin: 17% 0 7% 34%;   

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-animation: rotate 27s infinite ease-in;
       -moz-animation: rotate 27s infinite ease-in;
        -ms-animation: rotate 27s infinite ease-in;
         -o-animation: rotate 27s infinite ease-in;
            animation: rotate 27s infinite ease-in;
  }
      [class*="side-"] {
        position: absolute;

        width: 210px;
        height: 210px;
      
        background: -webkit-linear-gradient( #FFFFFF, transparent 2px ), -webkit-linear-gradient( 90deg, #FFFFFF, #5DE827 2px );
        background: -moz-linear-gradient( #FFFFFF, transparent 2px ), -moz-linear-gradient( 90deg, #FFFFFF, #5DE827 2px );
        background: -ms-linear-gradient( #FFFFFF, transparent 2px ), -ms-linear-gradient( 90deg, #FFFFFF, #5DE827 2px );
        background: -o-linear-gradient( #FFFFFF, transparent 2px ), -o-linear-gradient( 90deg, #FFFFFF, #5DE827 2px );
        background: linear-gradient( #FFFFFF, transparent 2px ), linear-gradient( 90deg, #FFFFFF, #5DE827 2px );
        background-size: 70px 70px;
        background-position: center center;
        border: 1px solid #FFFFFF;
      }

      .side-1 { 
        -webkit-transform: translateX(-105px) rotateY(90deg); 
           -moz-transform: translateX(-105px) rotateY(90deg); 
            -ms-transform: translateX(-105px) rotateY(90deg); 
             -o-transform: translateX(-105px) rotateY(90deg); 
                transform: translateX(-105px) rotateY(90deg); 
            }
      .side-2 { 
        -webkit-transform: translateY(-105px) rotateX(90deg); 
           -moz-transform: translateY(-105px) rotateX(90deg); 
            -ms-transform: translateY(-105px) rotateX(90deg); 
             -o-transform: translateY(-105px) rotateX(90deg); 
                transform: translateY(-105px) rotateX(90deg); 
            }
      .side-3 { 
        -webkit-transform: translateZ(-105px); 
           -moz-transform: translateZ(-105px);  
            -ms-transform: translateZ(-105px);  
             -o-transform: translateZ(-105px); 
                transform: translateZ(-105px);                
            }        
      .side-4 { 
        -webkit-transform: translateY(105px) rotateX(90deg);  
           -moz-transform: translateY(105px) rotateX(90deg);  
            -ms-transform: translateY(105px) rotateX(90deg);  
             -o-transform: translateY(105px) rotateX(90deg);  
                transform: translateY(105px) rotateX(90deg); 
            }    
      .side-5 { 
        -webkit-transform: translateZ(105px);  
           -moz-transform: translateZ(105px);  
            -ms-transform: translateZ(105px);   
             -o-transform: translateZ(105px);  
                transform: translateZ(105px);  
            }
      .side-6 { 
        -webkit-transform: translateX(105px) rotateY(90deg);  
           -moz-transform: translateX(105px) rotateY(90deg);  
            -ms-transform: translateX(105px) rotateY(90deg); 
             -o-transform: translateX(105px) rotateY(90deg);  
                transform: translateX(105px) rotateY(90deg); 
            }

#content-status .to.say { padding: 2%; margin-top: 7%; color: #333333; }
    #content-status .to.say span { color: #F72527; font-size: 50px;}
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████   PRIVACY.HTML  ██████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████    PAGE    ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/
#pr-policy { padding: 55px 0 0 0; background: url(../images/privacy-policy-3.png) no-repeat 100% 100%; }
    #pr-policy .mask { 
        width: 60%;
        margin-top: 110px; 
        padding: 0 17px;

        background-color: #FFFFFF; 
        background: rgba(255, 255, 255, 0.75);  
    }

    #pr-policy .wall-header { margin: 17px 0 34px 0; }
    #pr-policy .wall-header hr { background: #F72527; }

    #pr-policy h3 { color: #F72527; }
    #pr-policy h5 { color: #777777;  }
    #pr-policy p { 
        -webkit-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
             -o-user-select: none; 
                user-select: none; 
            }
    #pr-policy a { line-height: 52px; font: 34px 'Montserrat'; text-transform: lowercase; color: #F72527; }
/* 
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ████████████████████████████████████████   @media screen ██████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████
   ███████████████████████████████████████████    ****    ████████████████████████████████████████████████
   ███████████████████████████████████████████████████████████████████████████████████████████████████████ 
*/

/* #Mobile (Landscape)     @media only screen and (max-width: 319px) { } */
/* #Mobile (Portrait)      @media only screen and (min-width: 480px) and (max-width: 767px) { } */
/* #Tablet (Portrait)      @media only screen and (min-width: 768px) and (max-width: 959px) { } */
@media only screen and (max-width: 1280px) {
    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 600px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 650px; }
}
@media only screen and (max-width: 1200px) {
    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 580px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 640px; }
}
@media only screen and (max-width: 1080px) {
    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 530px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 580px; }
}
@media only screen and (max-width: 980px) {
    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 480px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 520px; }
}

@media only screen and (min-width: 850px) {
    #lang .bit-3  { width: 33% !important; margin-bottom: none; }
}

@media only screen and (min-width: 620px) and (max-width: 900px) {

    .bit-3 { width: 100%; }

    #education .mob-line { display: block !important; }

    #education { padding-bottom: 220px !important; }
        #education  [class*='bit-'] { float: none; width: 100%; }
        #education .bit-2.row-l, #education .bit-2.row-r { margin: 0 0 0 3% !important; width: 98%; }
            #education .left { 
                text-align: left !important; 
                text-align: left;
                padding-left: 110px;
                background: url(../images/cirk-r.png) no-repeat 0% 0% !important;
                height: 70px;
            }    

    [class$='│'] { margin-left: 7% !important; }
    #education .first { margin-top: 10px !important; }
    #education .end .line-─ { margin-left: 6.5% !important; }    

    #education .mob-line .line-│ { margin: -10px auto 0 auto !important; }
    #education .mob-line .line-─ { margin-left: 7% !important; }    

    #lang .bit-3 { margin-bottom: 34px; }
    #lang .t { display:  none; }

    #contact .bit-2 { width: 100%; }

    #map { max-height: 550px !important; height: 100%; }

    #content-status { min-height: 450px; }
        #content-status .to.say { width: 70%; }

    #my-work [class*='bit-'] { width: 100%; }

    #pr-policy .mask { width: 75%; padding: 0 5%; }
            #pr-policy a { font-size: 17px; }

    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 400px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 450px; }
}

@media only screen and (max-width: 740px) {
    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 330px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 380px; }
}

@media only screen and (max-width: 620px) {

    header .logo, #menu,#cv .mob, #breaf .mob, #lang i.t, .top-circle { display: none; }    
    header .logo.mob, .arrow.mob, #education .mob-line, .top-circle-mob { display: block !important; }
    
    .wrap { border: none; }

    header { background: #F72527; border-bottom: 2px solid #FFFFFF; }
        header .logo.mob { float: right; }
    #content-work header { background: #17a7eb; }

    [class*='bit-'] { float: none; width: 100%; }    
    
    #menu { width: 100%; }
        #menu ul li { float: none; background: rgba(247, 247, 247, 0.75); margin-bottom: 1px; }    

    #intro {
        padding-bottom: 69% !important;

        background: url(../images/bg-intro-mob1.png);
        background-repeat: no-repeat;
        background-position: 40% -70px;
         -webkit-background-size: cover;
            -moz-background-size: cover;
              -o-background-size: cover;
                 background-size: cover; 
        }

    #map { min-height: 550px !important; height: 100%; }
        #map iframe { opacity: .2; }
    
        .main-title { display: none; padding: 0; text-align: center !important; }
            .main-title h1, .main-title span, .main-title p { font-size: 50px !important; }

    .arrow.mob { color: #FFFFFF; float: left; padding: 0 17px; font-size: 34px; line-height: 70px; }

    #about p { text-align: center !important; }

    #education { padding-bottom: 220px !important; }
        #education .bit-2.row-l, #education .bit-2.row-r { margin: 0 0 0 2% !important; width: 98%; }
            #education .left { 
                text-align: left !important; 
                text-align: left;
                padding-left: 110px;
                background: url(../images/cirk-r.png) no-repeat 0% 0% !important;
                height: 70px;
            }
    [class$='│'] { margin-left: 7% !important; }

    #education .end .line-─ { margin-left: 6.5% !important; }

    #education .first { margin-top: 10px !important; }

    #education .mob-line .line-│ { margin: 0px auto 0 auto !important; }
    #education .mob-line .line-─ { margin-left: 7% !important; }
    
    #lang .bit-3 { margin-bottom: 34px; }

    #slideShow blockquote { padding-top: 27px !important;  font-size: 34px; }
    #slideShow blockquote span { font-size: 34px; }

    #work a { opacity: 1 !important; }

    #skills .bit-5 { padding: 15% 15% 0 15%; }

    form { padding: 0; }    

    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 280px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 320px; }

    #pr-policy .mask { width: 100%; }
        #pr-policy a { font-size: 17px; } 

    #content-status, #cube-box { min-height: 300px; }
        #content-status .to.say { 
            width: 100%; 
            background: rgba(255, 255, 255, 0.75); 
            *background: #FFFFFF; 
            margin-bottom: 17%; 
        } 
   /* #pt .illustration-2 { padding: 0 115px; }*/
   #contact .to.say { padding: 0 7px; }

    footer { padding: 20px; }

}

@media only screen and (max-width: 480px) { 

    #intro { padding-bottom: 60% !important; }

    #mute-sound { display: none; }

    #education h5, #education p, #education span { font-size: 17px !important; line-height: 17px !important; }

    #work a, #work span { font-size: 34px; }

    #slideShow .bgstretcher-page blockquote { padding-top: 7px !important; font-size: 34px !important; }

    #cube-box { display: none; }

    #emails .svg-box-anim, #pt .svg-box-anim { min-height: 200px; }
    #slider .svg-box-anim, #widget .svg-box-anim { min-height: 250px; }

}

/*-------------------------------------------    
   PRINT STYLES
-------------------------------------------*/
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #333; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}




