#education .top-circle, #skills .bit-5, #skills h5 { display: none; }
.top-circle-mob { display: block; background: url(../images/clock-ie-mob.png) no-repeat; 
    width: 170px; height: 170px;
    margin: 0 auto;
}

#skills {
    background: url(../images/skills-ie-mob.png) no-repeat; 
    width: 1370px; height: 700px; padding:0px; 
    margin-top: -220px;
}
#intro h1, #intro span, #intro p { opacity: 1; }

