/* =============================================================================
   HTML5 RESET
   ========================================================================== */

html, body, div, article, aside,
footer, header, section, center,
table, tbody, tfoot, thead, tr, th, td, caption,
menu, nav, dl, dt, dd, ol, ul, li,
form, label, fieldset, 
span, p, a, hgroup, h1, h2, h3, h4, h5, h6,
ruby, sub, sup, big, small,
strong, i, s, b, tt, em, u, pre, strike,
details, summary, address, ins, output,
kbd, var, cite, code,  del, samp, 
blockquote, acronym, abbr, mark, q, dfn,
figure, figcaption, legend,
img, audio, video, canvas, iframe, 
object, embed, time, applet {
    margin: 0;
    padding: 0; /*!WP*/
    border: 0;    
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {   
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}